<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeInfo">
	<select id="selectStoreInfoList" resultMap="storeInfoMap">
	select A.*, 
		(select count(*) 
		from storeInfo 
		where categoryno = A.categoryno) categorycount 
	from storeInfo A 
	where categoryno = #{categoryno} 
	order by storegrade desc
	</select>
	<resultMap type="storeInfo" id="storeInfoMap"></resultMap>
	
	<select id="selectStoreInfoTotalContents" resultType="_int" >
		SELECT COUNT(*) FROM STOREINFO WHERE CATEGORYNO = #{categoryno}
	</select>
	
	<select id="getMyStore" resultType="storeInfo">
	select * from storeinfo where sellerId = #{sellerId}
	</select>
	
	<insert id="addStore">
		insert into storeinfo values(#{storeNo} , #{storeName}, #{storeTel} , #{storeAddress} , default , #{categoryNo} , #{storeIntro}, #{personalDay} , #{operatingHours} , default, default ,#{deliveryMinPrice} , #{sellerId})
	</insert>
	
	<insert id="insertAttachment">
		insert into sattachment(attachmentno , storeno , originalfilename, renamedfilename, uploaddate , downloadcount, status )
		values (seq_sAttachmentno.nextval , #{storeNo} , #{originalFileName} , #{renamedFileName}, default, 0 ,default  )
	</insert>

	<select id="myStoreMenu" resultType="menu">
		select m.menuname, m.menuprice
		from storeinfo s join menu m on s.storeNo = m.storeNo
		where s.sellerId = #{sellerId} and s.storeNo = #{storeNo}
    </select>

   <select id="menuList"  resultType="menu">
   	select * from menu where storeno = #{storeNo}
   </select>
   
   <select id="storeInfoList"  resultType="storeInfo">
   	   select * from storeinfo where storeno = #{storeNo}
   </select>
	
   <select id="menuCount"  resultType="_int">
   	  select count(*) from menu where storeno = #{storeNo}
   </select>
 
   <select id="getAttachment" resultType="menuAttachment">
   	select * from menuAttachment where storeNo = #{storeNo}
   </select>
   
   <select id="selectMenuList" resultType="menu">
		select m.menuname, m.menuprice
		from storeinfo s join menu m on s.storeNo = m.storeNo
		where s.storeNo = #{storeNo}
   </select>
   
   <select id="getthumbAttachment" resultType="menuAttachment">
       	select * from menuAttachment where storeNo = #{storeNo} and thumbFlag = 'Y'
   </select>
   
   <update id="oldThumbNail">
   		update menuAttachment set thumbFlag='N' where renamedfilename=#{nowThumb}
   </update>
   
   <update id="changeThmbNail">
   		update menuAttachment set thumbFlag='Y' where renamedfilename=#{newThumb}
   </update>
   
   <select id="selectOneMenu" resultType="menu">
   		select * from menu where menuCode = #{menuCode}
   </select>
   
   <update id="updateStoreInfo">
   		update storeInfo set storetel=#{storeTel},storeaddress = #{storeAddress}, operatinghours=#{operatingHours},personalday=#{personalday} where storeno=#{storeNo}
   </update>
   
   <select id="orderList1" resultType="map">
		select m.address,m.phone,F.* from member m,(select I.memberid,I.storeno,I.deliveryFlag,I.receiveFlag,I.priceway,I.totalprice,I.request,I.ordertime,Z.* from Orderinfo I,(select orderno,LISTAGG(list, '/') within group (order by orderno) name
		from(select orderno,menuname||' '||amount||'개' as list
		from(select O.orderno,O.storeno,O.amount,M.menuname from ordermenu O,menu M 
		where O.menucode=M.menucode)) group by orderno) Z
		where I.orderno=Z.orderno and storeno=#{storeNo} and receiveflag='N') F where m.memberid=F.memberid and storeno='511-25-93434' and receiveFlag='N'
   </select>


</mapper>
