<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeInfo">
	<select id="selectStoreInfoList" resultMap="storeInfoMap">
	select A.*, 
		(select count(*) 
		from storeInfo 
		where categoryno = A.categoryno) categorycount 
	from storeInfo A 
	where categoryno = #{categoryno} 
	order by storegrade desc
	</select>
	<resultMap type="storeInfo" id="storeInfoMap"></resultMap>
	
	<select id="selectStoreInfoTotalContents" resultType="_int" >
		SELECT COUNT(*) FROM STOREINFO WHERE CATEGORYNO = #{categoryno}
	</select>
	
	<select id="getMyStore" resultType="storeInfo">
	select * from storeinfo where sellerId = #{sellerId}
	</select>
	
	<select id="myStoreMenu" resultType="menu">
		select m.menuname, m.menuprice
		from storeinfo s join menu m on s.storeNo = m.storeNo
		where s.sellerId = #{sellerId}
    </select>

   <select id="menuList"  resultType="menu">
   	select * from menu where storeno = #{storeNo}
   </select>
   
   <select id="storeInfoList"  resultType="storeInfo">
   	   select * from storeinfo where storeno = #{storeNo}
   </select>
   
    <select id="selectSellerMenuTotalContents" resultType="_int">
		SELECT COUNT(*) FROM MENU WHERE STORENO = #{storeNo}
   </select>
	
   <select id="menuCount"  resultType="_int">
   	  select count(*) from menu where storeno = #{storeNo}
   </select>
 
   <select id="getAttachment" resultType="attachment">
   	select * from menuAttachment where storeNo = #{storeNo}
   </select>  

</mapper>
