<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	
	<select id="selectBoardList" resultMap = "boardMap">
		select * from qnaboard order by boardno
	</select>
	<resultMap type="map" id="boardMap">
	</resultMap>
	
	<select id="countBoardList" resultType="_int">
		select count(*) as cnt from qnaboard
	</select>
	
	<select id="selectEventList" resultMap = "eventMap">
		select * from event order by eventNo desc
	</select>
	<resultMap type="map" id="eventMap">
	</resultMap>
	
	<select id="countEventList" resultType="_int">
		select count(*) as cnt from event
	</select>
	
	<select id="getLastEventNo" resultType="_int">
		select last_number from user_sequences where sequence_name='SEQ_EVENT_EVENTNO'
	</select>
	
	<insert id="insertEvent" parameterType="event">
		insert into event values(seq_event_eventno.nextval, #{eventTitle}, #{discount}, #{eventBig}, #{startDate}, #{endDate}, #{amount}, #{eventSmall})
	</insert>
	
	<select id="qnaBoardView" resultType="qnaBoard">
		select * from qnaboard where boardNo = #{boardNo }
	</select>
	
	<select id="selectSellerAllList" resultMap="sellerMap">
		select * from seller
	</select>
	<resultMap type="map" id="sellerMap">
	</resultMap>
	
	<select id="countSellerList" resultType="_int">
		select count(*) as cnt from seller
	</select>
	
	<update id="changeSellerbFlagtoN">
		update seller set blackFlag='N' where sellerId = #{sellerId }
	</update>
	
	<update id="changeSellerbFlagtoY">
		update seller set blackFlag='Y' where sellerId = #{sellerId }
	</update>
	
	<select id="selectMemberQNAList" resultType="member">
		select * from member where memberId = #{memberId }
	</select>
	<select id="countMemberQNAList" resultType="member">
		select count(*) as cnt from member where memberId = #{memberId }
	</select>
	
	<select id="selectSellerQNAList" resultType="seller">
		select * from seller where sellerId = #{sellerId }
	</select>
	<select id="countSellerQNAList" resultType="member">
		select count(*) as cnt from seller where sellerId = #{sellerId }
	</select>
	
</mapper>

