<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO shy.member (memberId, memberName, birth, gender, email, address, phone, favorite, oldFile, renamedFile, memberGrade, totalAmount, enrolldate, delFlag, blackFlag, password) 
		VALUES(#{memberId},#{memberName},#{birth},#{gender},#{email},#{address},#{phone},#{favorite,typeHandler=com.kh.god.common.typehandler.StringArrayTypeHandler},#{oldFile},#{renamedFile},default,default,sysdate,default,default,#{password})
	</insert>											
	
 	<resultMap type="member" id="memberMap">
		<result column="favorite" property="favorite" typeHandler="strArrTypeHandler"/>
	</resultMap>

	<select id="selectOneMember" parameterType = "string" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBERID = #{memberId}
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET email = #{email}, address = #{address}, phone = #{phone},
			favorite = #{favorite,typeHandler=com.kh.god.common.typehandler.StringArrayTypeHandler},
			oldFile = #{oldFile}, renamedFile = #{renamedFile} 
			<if test="password != '' " >
				,password = #{password}
			</if>
		WHERE memberId = #{memberId}
	</update>
	
	<update id="deleteMember">
		UPDATE MEMBER SET delflag = 'Y' WHERE memberId = #{memberId}
	</update>
	
	<select id="checkBookMark" resultType="_int">
        select count(*) from bookmark
        WHERE memberId = #{memberId} and storeNo = #{storeNo}
    </select>
	
	
</mapper>
