@charset "UTF-8";
#orderTable{
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}
th{
	width: 8%;
}
#title{
    margin-top: 8%;
    margin-left: 11%;
}
.orderAddress{
    width: 23%;
}
#list-home{
	margin-left: -45px;
    width: 120%;
    }
#list-profile{
	margin-left: -45px;
    width: 120%;
}
#list-messages{
	margin-left: -45px;
    width: 120%;
}
#list-tab{
    width: 13%;
    margin-left: 30%;
    margin-top: 31px;
}
#orderWaitng{
	margin-left: -21%;
    margin-top: 32px;
} 
#orderView{
    width: 66%;
    position: relative;
    left: 20%;
    top: -127px;
} 
.btn btn-info{
    margin-left: 6%;
}
#orderAcception{
	position: relative;
    left: -42%;
}
#orderCancel{
	position: relative;
        left: 29%;
    top: -38px;
}