@charset "UTF-8";
#container{
	width: 50%;
    margin-top: 6%;
}
#totalPrice{
	border-top: 2px dotted black;
}
#totalPriceSpan{
	    color: red;
}
#cart{
    position: relative;
    width: 36%;
    top: -853px;
    left: 62%;
   
}
.checkOut{
	background-color: #fff8eb;
}

#container{
    width:100%;
    height:100%;
}
 
#container #deliveryInformation{ 
    width: 58%;
}
#orderEndBtn{
	width:100%;
}
#telWarning{
	color:red;	
    display: none;
}
#addressWarning{
	color:red;	
    display: none;
	
}